/* CSS Document */
html, body {
    height : 100%;
	/*margin:0px;padding:0px; */
	background-color:#004484  !important; 

}
@font-face {
    font-family: 'apex_newmedium';
    src: url('font/apexnew-medium-webfont.eot');
    src: url('font/apexnew-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/apexnew-medium-webfont.woff') format('woff'),
         url('font/apexnew-medium-webfont.ttf') format('truetype'),
         url('font/apexnew-medium-webfont.svg#apex_newmedium') format('svg');
    font-weight: normal;
    font-style: normal;
 }

#header-tlv{
	background-image:url(../img/bkg-header.png); background-repeat:repeat-x;
 	text-align:center;
}
#header-sub-tlv{
	background-image:url(../img/bkg-header2.png); background-repeat:repeat-x;
	height:31px;
	text-align:center;
	font-family:'apex_newmedium';
	text-transform:uppercase;
	color:#FFFFFF;
	font-size:12px;
	line-height:30px;
	letter-spacing:1px;
}
#header-sub-tlv .tiret{color:#8bcdfa; font-weight:bold; font-size:14px}



#footer-tlv{  text-align:center}


/***** TLV ******/
 
body.portrait{
	 background-color:#004484  !important;
   /* background: url(img/bg-appli.png) !important ;
    background-repeat:no-repeat  !important ;
    background-position:center center  !important ;
    background-attachment:scroll !important ;
    background-size:100% 100% !important ;*/
 
}
body.lanscape{
 background-color:#004484 !important;
 /*	background: url(img/bg-appli-landscape.png) !important ;  !important;
    background-repeat:no-repeat  !important ;
    background-position:center center  !important ;
    background-attachment:scroll !important ;
    background-size:100% 100% !important ;*/
}
.ui-page {
    background: transparent !important;
}
.page-tlv{
/*    background: transparent;*/
	/*height:auto !important;*/
	border:#00FF00 0px solid;
	background: url(../img/bg-appli-content.png)   !important ;
	background-repeat:repeat-x !important;
 	 background-size:cover;
	min-height:480px;
	color:#FFFFFF; 
	font-family:'apex_newmedium'; 
	font-size:11px; 
}
 
 
 

.page-content-tlv{
	background-image:url(../img/bg-page.jpg) !important ;
 background-repeat:repeat-x !important ;

	color:#FFFFFF; font-family:'apex_newmedium'; font-size:11px; 
}

.bouton{float:left; margin:4px}

#nav-home-tlv{width:280px; margin:auto;margin-top:110px; margin-bottom:0px; padding:0px  }
